
body{
    margin: auto;

}
h1, h2, p{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 1200px;
    
    text-align: justify;
}

body {
    background-color: rgb(253, 247, 228); 
    color: rgb(187, 171, 140); 
    font-family: 'Arial', sans-serif; 
}

.doc-head {

	margin: 0;
    background-color: rgb(222, 208, 182);    color: black; 
    padding: 20px;
    text-align: center; 
}

h1, h2 {
    color: Black;
}

p {
    margin-bottom: 20px; 
	font-size: 20px;
}


img {
    max-width: 100%; 
    height: auto; 
    border: 1px solid rgb(187, 171, 140); 
	width: 1200px; 
	object-fit: scale-down;
	
}
.high_img{
    width:  auto;
    height: 1000px;
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}


a {
    color: rgb(253, 247, 228); 
    text-decoration: underline; 
}

a:hover {
    color: rgb(222, 208, 182);
}

.red{
	color : rgb(164, 52, 117);
}
.green{
	color : rgb(82, 131, 71);
}
